body{
    margin: 0;
    padding: 0;
    background-color: #acc5fd;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.quiz-selection{
    background-color: #ffffff;
    color: #000000;
    width: 50%;
    height: 235px;
    margin: 0 auto;
    
}
ul{
list-style: none;
}